@font-face {
  font-family: "Exo 2";
  src: url("./Exo_2/static/Exo2-Medium.ttf");
}


body {
    background-color: #F7F8FC;
    font-family: "Exo 2";
    back
}

.banner-logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.click{
    padding:16px;
    background-color: #ccc;
    text-decoration:none;
    border-radius:10px;
    font-size: 18px;
    color:#fff;
    &:hover{
      transition:0.3s;
      background-color: #222;
    }
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #375390;
    font-family: Arial;
    width: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover {
    background-color: white ;
    color: #375390;
    border-radius: 5%;
  }
  /* Links inside the dropdown */
 a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }